body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nodes */

.node {
  cursor: pointer;
  fill: #2c2c88;
}

.node_text {
  z-index: 10000;
  text-decoration: underline;
}

.node:hover {
  cursor: pointer;
  fill: #000;
}

.node_text:hover {
  fill: #000;;
  text-decoration: underline;
}

.link_node {
  stroke: #000;
  stroke-width: 3px;
}
